.cover-input {
    height: 72px;
    width: 72px;
    padding: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    background: #F2F3F5;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    float: 'left'
}

.cover-input__icon {
    color: #3F8AE0;
}

.NewPodcast__name {
    margin: 0 !important;
}